body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: auto;
  
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./shared/assets/background1.jpg);
  background-size: cover; */
}

body::-webkit-scrollbar {
  display: none;
}

code, p, input, button {
  font-family: 'Gilroy', 'Courier New', monospace;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a:visited {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}